node_modules/
.next/
out/

# Environment files
.env*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# npm cache
.npm/

# REPL history
.node_repl_history

# Mac system files
.AppleDouble
.LSOverride

# External disk files
._*
.Spotlight-V100
.Trashes

# Swap files
*.swp
*.swo

# Yarn Integrity
.yarn-integrity

# Cache folders
.cache/

# Next.js telemetry file
.next/telemetry.json





